*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: #1c003d;
  color: #fff;
}
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000004a;
  height: 4.9rem;
  padding: 0 4.8rem;
  position: fixed;
  top: 0;
  width: 100%;
} */

.logo {
  display: block;
  height: 9rem;
  margin: 0 auto;
  text-align: center;
}

.main-nav {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  align-items: center;
}

.main-nav-list {
  position: fixed;
  z-index: 19;
  display: inline-block;
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-list{
  background-color: rgba(255, 255, 255, 0.132);
  padding: 0.6rem 4rem;
  border-radius: 3rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 0.9rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #a2cbeb;
}

.sec-hero {
    width: 100%;
    height: 100vh;
    /* background: rgba(255,255,255,.2)); */
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
      background-position: center;
    background-size: cover;
    /* opacity: 0.3; */
    padding-top: 2rem;
    /* padding-bottom: 5rem; */
 
}
.sh{
    position: fixed;
}

.section-hero {
    /* padding-bottom: 10rem; */
   
}

.section-hero2{
  /* padding-bottom: 2rem; */
  padding-top: 2rem;
}

.hero {
  display: grid;
  gap: 4.6rem;
  padding: 0 8.8rem;
  grid-template-columns: 1.5fr 1fr;
  margin: 0 auto;
  align-items: center;
}

.heading-primary {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.3;
  color: #fff;
  /* margin-top: 3rem; */
  padding-bottom: 1.7rem;
}

.hero-text-box p{
    /* padding-top: 1rem; */
    padding-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 200;
}

.hero-text-box p span{
    font-weight: 400;
}

.date{
  /* display: inline-block; */
  display: flex;
  /* text-align: center; */
  gap: 2.4rem;
}
.date div{
  display: flex;
  gap: 0.17rem;

}
.d{
  height: 2.5rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 0.6rem 1.6rem;
  border-radius: 20px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  margin-right: 2rem;
  background-color: #5703b7;
}
.btn--full:hover {
  background-color: #6955ec;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  border: 0.5px solid #fff;
  color: #fff;
}

.btn--outline:hover,
.btn--outline:hover {
  background-color: #fdf2e9;
  color: #000;
  box-shadow: inset 0 0 0 3px #fff;
}

.soon {
  text-align: center;
  margin: auto 0;
}

.up {
    font-size: 3.2rem;
    text-align: center;
    /* align-items: center; */
    font-weight: 500;
}

.up span{
    font-weight: 300;
    font-size: 2.8rem;
}



.background{
    width: 100%;
    height: 100vh;
    background-image: url("img/soon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: fixed;
    z-index: -1; */
}

.ob{
    position: absolute;
    width: 749px;
    height: 94px;
    left: calc(50% - 749px/2 + 173.5px);
    top: 552px;

}




/* comittee */


.sec-hero2 {
  width: 100%;
  height: 100vh;
  /* background: rgba(255,255,255,.2)); */
  background-image: url("img/cbg1.png");
  background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
  /* opacity: 0.3; */
  padding-top: 2rem;
  padding-bottom: 5rem;

}
.sh{
  position: fixed;
}



.oc-hed {
    margin-bottom: 0.6rem;
    color: #d7d7fb;
    font-size:2.8rem;
  }

  .abt-hed {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
  }
  
  .comittee {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .org-com {
    max-width: 130rem;
    display: grid;
    gap: 3.6rem;
    padding: 0 4.8rem;
    grid-template-columns: 1fr 1fr;
  } */

  /* .org-com{
    display: flex;
    flex-direction: column;
    text-align: center;
  } */
  .od1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    justify-self: center;
  }
  .oc {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
  }
  /* .oc div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
  } */
  .od h1 {
    margin-bottom: 2rem;
  }
  .oc-n {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .com-p {
    height: 7.5rem;
    border-radius: 30%;
    margin-bottom: 0.7rem;
  }
  .com2--rm {
    margin-right: 5rem;
  }
  .oc-n span {
    font-weight: 100;
    font-size: 0.8rem;
  }
  .od1 div {
    margin-bottom: 1.5rem;
  }
  
  .od {
    margin-bottom: 4rem;
  }
  .org-comittee {
    padding-top: 3rem;
    position: relative;
  }
  
  .org-hed {
    text-align: center;
    /* margin-left: 40rem; */
    margin-bottom: 5rem;

  }
